.less-margin
  .jumbotron.text-center
    .vertical
      %h1
        %b AMAZING HEADLINE
      %p ... extremely interesting paragraph with really convincing sentences.
      %p= link_to 'Click me immediately!', categories_path, class: 'btn btn-success btn-lg'

  .row.text-center
    .col-md-4
      = link_to categories_path do
        .thumbnail
          %i.fa.fa-tags.fa-5x
          %h2 Cool Categories
    .col-md-4
      = link_to category_path(@category) do
        .thumbnail
          %i.fa.fa-rocket.fa-5x
          %h2 Cosmic Products
    .col-md-4
      = link_to category_product_path(@category, @product) do
        .thumbnail
          %i.fa.fa-heart.fa-5x
          %h2 Heartfelt Reviews
