.jumbotron.text-center
  %h1 AMAZING HEADLINE
  %p ... extremely interesting paragraph with really convincing sentences.
  %p= link_to 'Click me', categories_path, class: 'btn btn-primary btn-lg'

.row.text-center
  .col-md-4
    %i.fa.fa-tags.fa-5x
    %h2 Cool Categories
  .col-md-4
    %i.fa.fa-rocket.fa-5x
    %h2 Cosmic Products
  .col-md-4
    %i.fa.fa-heart.fa-5x
    %h2 Heartfelt Reviews
