.jumbotron {
  /* beautiful stock image from pexels.com */
  background: url('sunglasses-apple-iphone-desk.jpg') center no-repeat;
  color: #fff;
  width: 100%;
  min-height: 500px;
  display: table;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.btn {
  border-radius: 0px;
}

.thumbnail {
  border-radius: 0px;
  padding: 30px;
}

.thumbnail:hover {
  background-color: #5cb85c;
  color: #fff;
  border-color: #4cae4c;
}

a .thumbnail {
  color: #333333;
}

a .thumbnail:hover {
  color: #fff;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

span a{
  color: #5cb85c;
}

span a:hover {
  color: #449d44;
  text-decoration: none;
}
