@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";

.row {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-right a {
  color: #5cb85c;
}

.navbar-right a:hover{
  color: #449d44;
}

a:hover {
  text-decoration: none;
}

.moved {
  margin-left: 50px;
}

.less-margin {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;
}

.rendered-form {
  border: 1px solid #ddd;
  padding: 0 60px 26px 60px;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}
