@import "bootstrap";
@import "categories";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";
@import "products";
@import "font-awesome-animation";

body {
  margin-bottom: 50px;
}

.row {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-header a,
.list-inline a,
.page-header a,
.well a,
.pagination li a,
.pagination .next a {
  color: #5cb85c;
}

ul .navbar-header a:hover,
.list-inline a:hover,
.page-header a:hover,
.well a:hover,
.pagination li a:hover,
.pagination .next a:hover {
  color: #449d44;
}

a:hover {
  text-decoration: none;
}

.moved {
  margin-left: 50px;
}

.less-margin {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 30px;
}

.rendered-form {
  border: 1px solid #ddd;
  padding: 0 60px 26px 60px;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.form-control:focus{
  border-color: #5cb85c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68, 157, 68, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68, 157, 68, .6);
}

.boolean {
  margin-right: 10px;
}

hint {
  font-style: italic;
}

h5 {
  font-size: 16px;
}

h5 small {
  font-size: 14px;
}

.fa-circle {
  font-size: 14px;
  vertical-align: middle;
  color: #5cb85c;
}

.well, .alert, .form-control, .input-group-addon {
  border-radius: 0px;
}

.pagination .active span {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.fullname {
  display: block;
  position: relative;
  padding: 5px 15px;
  margin-top: 10px;
  color: #777;
}

.fullname:hover {
  color: #5e5e5e;
}

.jumbotron,
.jumbotron-category {
  background-color: #323232;
}
