.jumbotron-category {
  /* beautiful stock image from pexels.com */
  background: image-url('desk-designer-typography-brochure.jpeg') no-repeat;
  color: #fff;
  width: 100%;
  height: 100px;
  display: table;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
