.product {
  display: block;
  padding: 20px 60px;
  margin-top: 30px;
  border: 1px solid #ddd;
}

.product p {
  margin-top: 20px;
  font-style: italic;
  text-align: justify;
  text-indent: 50px;
}

.product h2 {
  font-weight: 600;
}

.links {
  list-style: none;
}

.links span {
  display: inline-block;
}

.products {
  padding: 20px 0 20px 0;
}

.products h4, .reviews h4 {
  margin-bottom: 20px;
}

.reviews .well {
  padding: 15px;
}

.reviews .divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.reviews h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.span-less-margin,
.reviews p {
  margin: 0px;
}
