= form_for category do |f|
  = render "layouts/error_messages", object: category

  .form-group
    .input-group
      .input-group-addon Name
      = f.text_field :name, class: 'form-control', autofocus: true, placeholder: "Category name"

  = f.submit 'Save', class: 'btn btn-success pull-right'
