.col-md-6.col-md-offset-3
  .page-header
    %h1
      %i.fa.fa-plus
      new category
      %small
        for your page

  = render 'form'

  = link_to 'Back', categories_path, class: 'btn btn-default'
