.row
  .col-lg-5.col-lg-offset-1
    - if is_owner
      %br
      %span
        = link_to edit_category_product_path(category.id, product.id) do
          %i.fa.fa-pencil
          Edit this product

.row
  .col-lg-5.col-lg-offset-1
    .product
      = render 'product'

  .col-lg-3.col-lg-offset-1
    = render 'reviews'

.row
  .col-lg-5.col-lg-offset-1
    = link_to 'Back to products', category_products_path(product.category), class: 'btn btn-default'
